.red-background {
  background-color: red !important;
}
.vermillion-background {
  background-color: #FF4C00 !important;
}
.orange-background {
  background-color: orange !important;
}
.amber-background {
  background-color: #FFBF00 !important;
}
.yellow-background {
  background-color: yellow !important;
}
.chartreuse-background {
  background-color: chartreuse !important;
}
.green-background {
  background-color: green !important;
}
.teal-background {
  background-color: teal !important;
}
.blue-background {
  background-color: blue !important;
}
.violet-background {
  background-color: violet !important;
}
.purple-background {
  background-color: purple !important;
}
.magenta-background {
  background-color: magenta !important;
}
.red-border {
  border: 1px solid red !important;
}
.vermillion-border {
  border: 1px solid #FF4C00 !important;
}
.orange-border {
  border: 1px solid orange !important;
}
.amber-border {
  border: 1px solid #FFBF00 !important;
}
.yellow-border {
  border: 1px solid yellow !important;
}
.chartreuse-border {
  border: 1px solid chartreuse !important;
}
.green-border {
  border: 1px solid green !important;
}
.teal-border {
  border: 1px solid teal !important;
}
.blue-border {
  border: 1px solid blue !important;
}
.violet-border {
  border: 1px solid violet !important;
}
.purple-border {
  border: 1px solid purple !important;
}
.magenta-border {
  border: 1px solid magenta !important;
}
